/* Import */

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lato:300,400&subset=latin-ext');
@import './lightbox.min.css';

/*Colours and Text*/

.red-bg-colour {
    background-color: #EC1D24 !important;
    color: #FEFEFE;
}

.red-txt-colour {
    color: #EC1D24;
}

.silver-light-bg-colour {
    background-color: #C5CFD1 !important;
    color: #000000;
}

.silver-dark-bg-colour {
    background-color: #868A93 !important;
    color: #FEFEFE;
}

.Lato {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.Fjalla {
    font-family: 'Fjalla One', sans-serif;
}

.add-transparency {
    opacity: 0.8;
}

/* General Page*/

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #000;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    max-width: 1280px;
    z-index: 1939;
}

.max-width-1280-centered {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.fs-bg-image {
    background: url(../images/index/bg-marvel-characters.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 99vh;
    background-color: #FEFEFE;
    color: #000000;
    width: 100%;
    overflow-x: hidden;
}

.behind-logo-and-search {
    /*margin-top: 138px;*/
    height: 130px;
}

footer {
    bottom: 0;
    color: #FEFEFE;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    max-width: 1280px;
    z-index: 1961;
    border-top: 2px solid #FEFEFE;
}

/* Materialize Overrides */

.card {
    background-color: #FEFEFE;
    border: 1px solid #EC1D24;
    text-align: center;
}

.card .card-content {
    padding: 8px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating),
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #FEFEFE;
    margin-right: 0;
    text-align: center;
}

.collapsible {
    border-top: 0;
}

.collapsible-header span {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
}

.collapsible-header i {
    margin-right: -2rem;
}

.collapsible-body {
    padding: 0.5rem;
    text-align: center;
}

.collapsible-body img {
    border-radius: 5%;
}

.collapsible-body tr {
    border-bottom: 0;
}

.collapsible-body td {
    vertical-align: top;
}

.pagination li a {
    color: #444;
    display: inline-block;
    font-size: 1rem;
    padding: 0 4px;
    line-height: 2rem;
}

.divider {
    background-color: #e0e0e0;
    margin: 3px 0;
}

/* Materialize Media query navbar override */

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 0;
        -webkit-transform: none;
        transform: none;
    }
}

/* Header - Nav */

.nav-row-no-margin-bottom {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.navbar-fixed {
    height: 64px;
    font-family: 'Fjalla One', sans-serif;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.2);
}

nav ul a:hover {
    background-color: transparent;
}

nav ul i {
    float: right;
}

/* Header - Search */

.search-container {
    border-bottom: 2px solid #EC1D24;
    background-color: #FEFEFE;
    margin-bottom: 0;
}

.row .remove-padding {
    padding: 0;
}

.input-field {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    padding: 0 !important;
    margin-right: 8px;
}

.input-field .prefix.active {
    color: #EC1D24;
}

input:not([type]),
input[type=text]:not(.browser-default) {
    border-left: 1px solid #EC1D24;
    border-top: 1px solid #EC1D24;
    border-bottom: 1px solid #EC1D24;
    border-right: 1px solid #FEFEFE;
    margin: 0;
    height: 34px;
    padding-left: 6px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]) {
    box-shadow: 0 0 0 0 #000;
    padding-left: 6px;
    border-left: 1px solid #EC1D24;
    border-top: 1px solid #EC1D24;
    border-bottom: 1px solid #EC1D24;
    border-right: 1px solid #FEFEFE;
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 16px;
    color: #444;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.autocomplete-content li .highlight {
    color: #EC1D24;
}

.search-button {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 !important;
}

.btn-flat {
    width: 100%;
    border-radius: 0;
}

/* Main Content */

#characterDescription {
    padding-left: 0;
    padding-right: 0;
}

#characterImage img {
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid #EC1D24;
    border-right: 2px solid #EC1D24;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
    max-width: 25vw;
}

#characterName {
    height: calc(0.78 * 25vw);
    max-height: 250px;
}

.width-offset-10 {
    margin: 0 10%;
}

.drop-card-margin {
    margin: .5rem 0 0 !important;
}

.characterName-card {
    margin: 0 !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 2px solid #EC1D24!important;
    height: calc(0.78 * 25vw);
    width: 100%;
}

.characterName-card td,
th {
    padding: 0;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    background-color: #FEFEFE;
}

.characterName-card table tr {
    border: none;
}

.characterName-card tr:first-child {
    border-top: 2px solid #EC1D24;
}

.characterName-card .card-title {
    padding: 0;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
    margin-bottom: 0 !important;
    margin-top: 8px;
    font-size: calc(1.6rem + 0.5 * ((100vw - 15rem) / 15));
}

.card-content .bottom-dweller {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1rem !important;
    padding: 0;
}

div.card-content.force {
    padding: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    height: 85%;
}

.trim-bottom-margin {
    margin-bottom: 5px;
}

.format-list {
    border-radius: 5px;
    border: 1px solid #EC1D24;
    margin-bottom: 0;
}

.imageCovers,
.imageSeries,
.imageEvents,
.imageMissing,
.seriesCharacter,
.eventCharacter {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px 0 10px;
}

.imageCovers {
    display: block;
    width: 100%;
    height: 150px;
    max-width: 100px;
    margin: 0 0 10px;
}

.seriesCharacterImage,
.eventCharacterImage {
    margin-top: 10px;
}

.td-padding {
    padding: 15px 5px !important;
}

.extra-bottom-margin {
    margin-bottom: 60px;
}

.loader-padding {
    padding: 4px 16px 0;
}

.row-divider tr {
    border-bottom: 1px solid #EC1D24;
}

.row-divider tr:last-child {
    border-bottom: 0;
}

/* Lightbox */

.lb-nav a.lb-prev,
.lb-nav a.lb-next {
    opacity: 1;
}

/* Pre-Loader */

#screen-block-fade {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #868A93;
    z-index: 9001;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
}

#screen-block-spinner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    z-index: 9002;
    text-align: center;
    overflow: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
