/* Import */

@import './lightbox.min.css';


/*Colour scheme entries*/

.red-bg-colour {
    background-color: #D30026 !important;
    color: #FFFFFF;
}

.burgundy-bg-colour {
    background-color: #9D152C !important;
    color: #FFFFFF;
}

.silver-light-bg-colour {
    background-color: #C5CFD1 !important;
    color: #000000;
}

.silver-dark-bg-colour {
    background-color: #868A93 !important;
    color: #FFFFFF;
}

.grey-bg-colour {
    background-color: #5E6674 !important;
    color: #FFFFFF;
}

.red-txt-colour {
    color: #D30026;
}

.burgundy-txt-colour {
    color: #9D152C;
}

.silver-light-txt-colour {
    color: #C5CFD1;
}

.silver-dark-txt-colour {
    color: #868A93;
}

.grey-txt-colour: {
    color: #5E6674;
}

.Lato {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

/* Useful takes from BootstrapCSS */

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
}

.add-transparency {
    opacity: 0.75;
}


/* General Page*/

body {
    background: url(../images/index/bg-marvel-characters.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

main {
    margin-top: 138px;
    flex: 1 0 auto;
}

footer {
    bottom: 0;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* Navigation */

.navbar-fixed {
    height: 64px;
    font-family: 'Fjalla One', sans-serif;
}

/* Main Search Bar Area */

.width-offset-10 {
    margin: 0 10%;
}

.row .remove-padding {
    padding: 0;
}

.input-field {
    border-bottom: 1px solid #D30026;
    border-left: 1px solid #D30026;
    border-top: 1px solid #D30026;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.input-field .prefix.active {
    color: #D30026;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    border-bottom: 0;
    margin: 0;
    padding-left: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 0;
    box-shadow: 0 1px 0 0 #D30026;
}

.row .search-button {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 3px;
    padding-bottom: 3px;
}

.search-container-css {
    border-bottom: 2px solid #D30026;
    background-color: #FFFFFF;
}

/* Main Content Area */

#characterImage img {
    border-bottom-right-radius: 50%;
    border-bottom: 2px solid #D30026;
    border-right: 2px solid #D30026;
}

#characterName {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 600;
    color: #D30026;
    text-shadow: 1px 1px 2px #5E6674;
}

#characterName .sm {
    font-size: 2.5rem;
    padding-top: 30px;
}

#characterName .md {
    font-size: 4rem;
    padding-top: 20px;
}

#characterName .lg {
    font-size: 6rem;
    padding-top: 40px;
}

.trim-bottom-margin {
    margin-bottom: 5px;
}

.card {
    position: relative;
    margin: .5rem 1rem 0;
    background-color: #fff;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    border: 1px solid #d30026;
    text-align: center;
}

.card .card-content {
    padding: 6px;
    border-radius: 0 0 2px 2px;
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #FFFFFF;
    margin-right: 24px;
    transition: color .3s ease;
    text-transform: uppercase;
}

.collapsible {
    border-top: 0;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: 0.5rem 0 1rem 0;
}

.collapsible-body {
    display: none;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0.5rem;
    text-align: center;
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    margin: 3px 0;
}

/* Footer */

.fjalla-link {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
}

.footer-copyright {
    margin-left: 0;
    margin-right: 0;
}

.header-fixed {
    margin-left: 0;
    margin-right: 0;
}
